
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @ViewBag.Kd
    @ViewBag.greeting
    <a asp-action="Register">Register</a>
    <a asp-action="LearnC">LearnC</a>
</body>
</html>
